name: Build and test

on:
  pull_request:

  workflow_dispatch:

jobs:
  build_with_cmake:
    name: CMake
    strategy:
      matrix:
        os:
        - ubuntu-latest
        compiler: 
        - {cc: gcc, cxx: g++}
        - {cc: clang, cxx: clang++}
        
        include:
        - os: macos-latest
          compiler: {cc: clang, cxx: clang++}
        - os: windows-latest
          compiler: {cc: cl, cxx: cl}
          
    runs-on: ${{ matrix.os }}
    env:
      BUILD_TYPE: Debug
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install xmipp4-core
        working-directory: ${{ github.workspace }}/../
        run: |
          git clone https://github.com/gigabit-clowns/xmipp4-core.git
          cd xmipp4-core
          git checkout tags/development
          pip install --no-index --find-links=dist xmipp4-core
      
      - name: Configure and build with CMake
        uses: threeal/cmake-action@v2
        with:
          source-dir: ${{ github.workspace }}
          build-dir: "${{ github.workspace }}/build"
          c-compiler: ${{ matrix.compiler.cc }}
          cxx-compiler: ${{ matrix.compiler.cxx }}
          options: |
            CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
          run-build: true
          build-args: --config ${{ env.BUILD_TYPE }}

  build_with_pip:
    name: pip
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - ubuntu-22.04
        - macos-latest
        - windows-latest
        python-version:
        - '3.14'
        include:
        - os: macos-latest
          python-version: '3.8'
        - os: macos-latest
          python-version: '3.9'
        - os: macos-latest
          python-version: '3.10'
        - os: macos-latest
          python-version: '3.11'
        - os: macos-latest
          python-version: '3.12'
        - os: macos-latest
          python-version: '3.13'
  
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
  
      - name: Upgrade pip
        if: matrix.os == 'ubuntu-22.04'
        run: python -m pip install --upgrade pip packaging

      - name: Install xmipp4-core
        working-directory: ${{ github.workspace }}/../
        run: |
          git clone https://github.com/gigabit-clowns/xmipp4-core.git
          cd xmipp4-core
          git checkout tags/development
          pip install --no-index --find-links=dist xmipp4-core
      
      - name: Install with pip
        run: pip install .[test] -v --find-links="${{ github.workspace }}/../xmipp4-core/dist" -Ccmake.define.BUILD_TESTING=ON
      
      - name: Run tests
        run: |
          chmod +x ./scripts/run-tests.sh
          ./scripts/run-tests.sh
